@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

.acc {
    font-family: 'The Girl Next Door', cursive;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(28, 158, 197);
    font-size: 2em;
}

.accordion {
    max-height: 800vh;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: rgba(183, 28, 197);
    color: #fff;
    cursor: pointer;
}

.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    font-size: 2em;
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: 150px;
    padding: 10px;
}